<h1>Bætum við spurningu</h1>

<form action="/spurningar">
  <label for="category">Veldu flokk fyrir spurninguna</label>
  <select name="category" id="category" required>
    <% categories.forEach(category => { %>
      <option value="<%= category.id %>">
        <%= category.name %>
      </option>
    <% }); %>
  </select> 

  <p>
    <label for="spurning">Spurning:</label>
    <input type="text" id="spurning" name="question" required/>
  </p>

  <p>
    <label>Valmöguleikar:</label>
    <input type="text" name="answer1" required>
      <input type="radio" id="rett1" name="correct" value="1" required> <input type="text" name="answer1" required> Rétt
    <input type="text" name="answer2" required>
      <input type="radio" id="rett2" name="correct" value="2" required> <input type="text" name="answer2" required> Rétt
    <input type="text" name="answer3" required>
      <input type="radio" id="rett3" name="correct" value="3" required> <input type="text" name="answer3" required> Rétt
    <input type="text" name="answer4" required>
      <input type="radio" id="rett4" name="correct" value="4" required> <input type="text" name="answer4" required> Rétt
    <label for="rett1">Rétt svar</label>
  </p>

  <button type="addQuestion">Spurning búin til</button>

</form>

<%- include('footer') -%>
