<!doctype html>
<html lang="is">

<head>
  <meta charset="utf-8">
  <title><%= locals.title ?? '' %> — Spurningavefurinn</title>
  <link rel="stylesheet" href="/src/public/styles.css">
</head>

<body>
  <main>
    
    