<%- include('header') -%>

<% if (categories.length === 0) { %>
  <p>Engir flokkar fundust.</p>
<% } else { %>
  <ul>
    <% for (const category of categories) { %>
      <li>
        <a href="/question_form/<%=category.id%>"><%=category.name%></a>
      </li>
    <% 
    } %>
  </ul>
<% 
} %>



<%- include('footer') -%>
