<%- include('header') -%>

<% if (flokkar.length === 0) { %>
  <p>Engir flokkar fundust.</p>
<% } else { %>
  <ul>
    <% for (const flokkur of flokkar) { %>
      <li>
        <a href="/flokkur/<%=flokkur.id%>"><%=flokkur.nafn%></a>
      </li>
    <% 
    } %>
  </ul>
<% 
} %>



<%- include('footer') -%>
