<%- include('header') %>
<h1>Bæta við spurningu</h1>

<form action="/spurning/new" method="POST">
    <label for="question_text">Spurning:</label>
    <input type="text" id="question_text" name="question_text" required>

    <label for="category_id">Flokkur:</label>
    
      <a href="/form">Bæta við nýjum flokk</a>

   
    <button type="submit">Senda inn</button>
</form>

<%- include('footer') %>
